.logo-icon {
    font-size: 35px;
    margin-right: 5px;
}

.card-header {
    margin-top: 10px;
    background-color: #FFACC7;
}

.card img {
    width: 250px;
    height: 250px;
    margin: 15px;
    border-radius: 50%;
    border: 4px solid rgb(142, 131, 182);
}

.card {
    border-radius: 0px !important;
    background-color: #cfd2cf44;
}

.control {
    border-top: 1px solid rgba(112, 128, 144, 0.603);

}

.controls i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.controls {
    margin-top: 15px;
    margin-bottom: 15px;
}


.list-group {
    border-radius: 0%;
}